body {
  height: 600px;
  background-color: #e5eaf0;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('src/fonts/HelveticaNeueCyr-Medium.eot');
  src: url('src/fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
       url('src/fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg'),
       url('src/fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'),
       url('src/fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
       url('src/fonts/HelveticaNeueCyr-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*----- MENU -----*/

.menu {
  display: inline-block;
  margin-top: 13px;
  margin-left: 22px;
  width: 147px;
}

.wind {
  display: inline-block;
  vertical-align: top;
  margin: 13px 20px 14px 22px;
  width: calc(100% - 215px);
  min-width: 300px;
  min-height: 580px;
  max-height: 800px;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.writeButton {
  width: 147px;
  height: 32px;
  border: none;
  border-radius: 3px;
  background-color: #6287bd;
  font-family: HelveticaNeueCyr-Medium;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.list {
  height: 13px;
  margin-top: 8px;
  margin-left: -28px;
  font-family: HelveticaNeueCyr-Medium;
  font-size: 11px;
  font-weight: 500;
  color: #707070;
}

.list:hover {
  padding-top: 4px;
  padding-left: 10px;
  margin-left: -38px;
  height: 22px;
  border-radius: 3px;
  background-color: #cdd6e4;
  color: #555555
}

/*----- HEADER -----*/

.high {
  display: inline-block;
  vertical-align: middle;
}

.beforeLines {
  margin-top: -2px;
  margin-left: 22px;
  height: 19px;
}

.lineHigh {
  width: 20px;
  height: 2px;
  margin-top: 4px;
  background-color: #000000;
}

.yandexPict {
  margin-left: 11px;
}

.search {
  margin-left: 114px;
  width: 301px;
  height: 32px;
  line-height: 100%;
  background-color: #ffffff;
}

.searchWord {
  border: none;
  display: inline-block;
  padding-left: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  font-size: 15px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.canselSearchSign {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  margin-left: -20px;
  opacity: 0.15;
}

/*----- MAIN PART -----*/

/*----- MAIN HEADER -----*/

#beforeLetters {
  font-size: 13px; 
}

.letterHeader {
  display: inline-block;
}

.squareNew {
  margin-left: -25px;
  width: 16px;
  height: 16px;
}

.notCheckboxHeader {
  margin-left: 26px;
  margin-top: -10px;
  border: none;
  outline: none;
  background-color: inherit;
  font-weight: 500;
  color: #cccccc;
}

.selectButton {
  position: absolute;
  margin-left: 2px;
  margin-top: -18px;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.delimiterLine {
  margin: 10px 0 15px 0px;
  height: 0px;
  opacity: 0.5;
}

.selectCheckbox:checked + .selectButton:after {
  visibility: inherit;
}

.selectButton:after {
  margin: -3px 0 0 4px;
  width: 7px;
  height: 14px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-right: 2px solid;
  border-bottom: 2px solid;
  color: #000000;
  -webkit-transform: scale(0.85) rotate(47deg) skewX(12deg);
  transform: scale(0.85) rotate(47deg) skewX(12deg);
  visibility: hidden;
}

/*----- ONE LETTER -----*/

.letter {
  margin-left: -40px;
}

.letterPart {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
  margin-top: 0px;
}

.letterInnerior {
  margin: -10px 0 0 0;
}

.senderPictWrap {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.senderPict {
  width: inherit;
  border-radius: 50%;
}

.sender {
  margin-left: 10px;
  width: 130px;
  height: 16px;
  font-family: HelveticaNeueCyr-Medium;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}

.unread {
  margin-left: 20px;
  margin-top: 11px;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6287bd;
}

.letterText {
  margin-left: 10px;
  max-width: 300px;
  font-family: HelveticaNeueCyr-Medium;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}

.date {
  float: right;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: -10px;
  margin-top: 0px;
  font-family: HelveticaNeueCyr-Medium;
  font-size: 13px;
  line-height: 28px;
  text-align: right;
  color: #9b9b9b;
}

/*----- FOOTER MAIN -----*/

.other {
  position: absolute;
  bottom: 0px;
  right: 20px;
  margin-right: 28px;
  text-align: right;
  width: calc(100% - 230px);
  font-family: HelveticaNeueCyr-Medium;
  font-size: 11px;
  color: #9b9b9b;
}

.other > .delimiterLine {
  margin: 10px 20px 15px;
  width: 100%;
  height: 0px;
  opacity: 0.5;
}

/*----- ART EFFECTS -----*/

#open {
  display: none;
}

#open:checked ~ .firstLetter {
  display: none;
}

#open:checked ~ #afterFirst {
  display: none;
}

#open:checked ~ #art {
  display: inline-block;
}

#art {
  display: none;
  background: url("src/background.jpg");
  background-attachment: fixed;
  background-size: 15%;
  background-repeat: space;
  background-color: #FFFFDD;
}

#cancelArtSign {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

/*----- ART DECORATION -----*/

#circledCat {
  float: right;
  display: inline-block; 
  padding: 10px; 
  margin: 10px;
  cursor: help;
  background: transparent;
  mix-blend-mode: multiply;
  border-radius: 50%;
  shape-outside: circle();
}

.begin {
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-family: sans-serif;
}

#frontend {
  font-family: fantasy;
  font-size: 12pt;
  letter-spacing: 5px;
}

#febr {
  color: blue;
  opacity: 0.5;
}

#smiles {
  color: red;
  font-weight: 500;
  font-stretch: ultra-expanded;
}

p {
  text-indent: 1.5em;
}

#firstWord {
  color: red;
}

.first {
  text-decoration: overline;
}

.second {
  text-decoration: line-through;
}

.third {
  text-decoration: underline;
}
